<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signin"></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <h2>Login</h2>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username"
          [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
        <div *ngIf="submitted && f['username'].errors" class="error">
          <div *ngIf="f['username'].errors['required']">Username is required</div>
          <div *ngIf="f['username'].errors['minlength']">
            Username must be at least 3 characters
          </div>
        </div>
      </div>

      <div>
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
        <div *ngIf="submitted && f['password'].errors" class="error">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
          <div *ngIf="f['password'].errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>

      <ion-button class="btn" type="submit">Sign In</ion-button>
      <ion-button class="btn" (click)="redirectToSignUp()">
        Sign Up
      </ion-button>
    </form>
  </div>
</ion-content>